<p id="notice"><%= notice %></p>

<h2>
  <%= @beer_club.name %>
</h2>

<p>
  <strong>Founded:</strong>
  <%= @beer_club.founded %>
</p>

<p>
  <strong>City:</strong>
  <%= @beer_club.city %>
</p>

<h3>Members</h3>
<p>
  <ul>
	<% @beer_club.members.each do |r| %> 
	<li><%= link_to  r.username, user_path(r) %></li>
	<% end %>
  </ul>
</p>


<% if current_user %>
<p>
<%if not current_user.clubs.find_by id: @beer_club.id %>
<%= form_for(@membership) do |f| %>
    <%= f.hidden_field :beer_club_id %>
    <%= f.submit value:"join the club" %>
 <% end %>
<%else%>
	<%= link_to 'end the membership', @memberhip, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger' %>
</p>
<%end%>
<%end%>
<p><%= edit_and_destroy_buttons(@style) %></p>

