<p id="notice"><%= notice %></p>

<h2>
  <%= @beer_club.name %>
</h2>

<p>
  <strong>Founded:</strong>
  <%= @beer_club.founded %>
</p>

<p>
  <strong>City:</strong>
  <%= @beer_club.city %>
</p>

<h3>Members</h3>
<p>
<% @beer_club.members.each do |r| %> 
<td><%= link_to  r.username, user_path(r) %></td>
<% end %>
</p>
<% if current_user %>
<p>
<%if not current_user.clubs.find_by id: @beer_club.id %>
<%= form_for(@membership) do |f| %>
    <%= f.hidden_field :beer_club_id %>
    <%= f.submit value:"join the club" %>
 <% end %>
<%else%>
   <%= form_for(@membership, method: "delete") do |f| %>
      <%= f.hidden_field :beer_club_id %>
      <%= f.submit value: "end the membership" %>
   <% end %>
</p>
<%= link_to 'Edit', edit_beer_club_path(@beer_club) %>
<%end%>
<%end%>

